<p> <%= @resource.email %> 様</p>

<p>パスワード再設定の依頼を受けつけました</p>
<p>下記のリンクをクリックして新しいパスワードを設定してください</p>
<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし心あたりがない場合は、このメールを無視してください</p>
<p>リンクをクリックしない限り、パスワードは変更されません。</p>
